# Configuration de la base de données PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=casapedia_db
DB_USER=postgres
DB_PASSWORD=postgres

# Configuration MongoDB (pour plus tard)
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=casapedia_text

# Configuration scraping
USER_AGENT=Mozilla/5.0 (compatible; Casapedia/1.0; +https://github.com/Honkpehedji-Stanley/Casapedia)
REQUEST_TIMEOUT=30
MAX_RETRIES=3
